* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    .feed {
        width: 500px;
        background-color: #242527;
        .owner {
            display: grid;
            grid-template-columns: 20% 70% 10%;
            grid-template-rows: 2;
            background-color: gray;
            padding: 10px;
            .avatar {
                grid-row: 1 / 3;
                display: inline-block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: red;
            }
            .name {
            }
            .timer {
            }
            .more-options {
                grid-column: 3 / 4;
                grid-row: 1 / 3;
                display: flex;
                align-self: center;
            }
        }
        .description {
            background-color: green;
            margin: 10px;
        }
        .attachment {
            height: 100px;
            background-color: orange;
        }
        .status, hr, .function {
            margin: 10px;
        }
        .status {
            display: grid;
            grid-template-columns: 60% 40%;
            background-color: pink;
            .react-counter {
                .icon-reacted, .count {
                    display: inline;
                }
                .icon-reacted {

                }
                .count {
                }
            }
            .comment-counter {
                text-align: right;
            }
        }
        hr {
            border: none;
            border-top: 1px solid gray;
        }
        .function {
            display: grid;
            grid-template-columns: auto auto auto;
            span p {
                text-align: center;
            }
        }
    }   
}