$bg_dark_color: #242527;
$select_color: #3a3b3d;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
    span {
        display: inline-block;
    }
    hr {
        border: none;
        border-top: 1px solid gray;
    }
}

body {
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    #feed-container {
        .feed {
            .icon:hover, .btn-function p:hover, .options:hover {
                cursor: pointer;
                border-radius: 4px;
                background-color: $select_color;
            }
            background-color: $bg_dark_color;
            padding: 10px 10px 5px 10px;
            margin: 10px;
            width: 500px;
            border-radius: 6px;
            .owner {
                display: grid;
                grid-template-columns: 13% 77% 10%;
                grid-template-rows: 2;
                padding-bottom: 10px;
                .avatar {
                    background-color: red;
                    grid-row: 1 / 3;
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
                .name {
                    font-weight: bold;
                    font-size: 1.5rem;
                }
                .timer {
                    font-size: 1.3rem;
                    opacity: 0.7;
                }
                .more-options {
                    grid-column: 3 / 4;
                    grid-row: 1 / 3;
                    display: flex;
                    align-self: center;
                    position: relative;
                    .icon {
                        text-align: center;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        font-size: 17px;
                        font-weight: bolder;
                    }
                    .options-container {
                        visibility: hidden;
                        position: absolute;
                        z-index: 5;
                        top: 30px;
                        right: 0px;
                        width: 350px;
                        border-radius: 6px;
                        padding: 10px;
                        background-color: $bg_dark_color;
                        .options {
                            display: grid;
                            grid-template-columns: 15% 85%;
                            grid-template-rows: auto auto;
                            font-size: 1.4rem;
                            padding: 10px 0px;
                            i {
                                display: flex;
                                justify-self: center;
                            }
                        }
                        .options.underline {
                            :nth-child(1) {
                                grid-row: 1 / 3;
                                display: flex;
                                align-self: center;
                            }
                            :nth-child(3) {
                                grid-column: 2 / 3;
                                font-size: 1.2rem;
                                opacity: 0.5;
                            }
                        }
                        hr {
                            margin: 10px;
                        }
                    }
                }
            }
            .description {
                font-size: 1.35rem;
            }
            .attachment {
                background-color: gray;
                height: 100px;
                margin: 10px -10px;
            }
            .status {
                display: grid;
                grid-template-columns: 60% 40%;
                margin: 15px 0px;
                .react-counter {
                    .icon-reacted, .count {
                        display: inline;
                    }
                    position: relative;
                    .icon-reacted {
                        span {
                            position: absolute;
                            top: -3px;
                            border-radius: 50%;
                            width: 23px;
                            height: 23px;
                            border: 1px solid red;
                        }
                    }
                    .count {
                        position: absolute;
                        font-size: 1.4rem;
                    }
                }
                .comment-counter {
                    text-align: right;
                    font-size: 1.3rem;
                }
            }
            .function {
                display: grid;
                grid-template-columns: auto auto auto;
                margin-top: 5px;
                .btn-function p {
                    color: gray;
                    padding: 3px 0px;
                    font-weight: bold;
                    font-size: 1.6rem;
                    text-align: center;
                }
                .like {
                    position: relative;
                    .react-container {
                        background-color: $bg_dark_color;
                        display: grid;
                        grid-template-columns: auto auto auto auto auto auto auto ;
                        position: absolute;
                        z-index: 4;
                        top: -59px;
                        border-radius: 30px;
                        visibility: hidden;
                        width: fit-content;
                        span {
                            background-color: red;
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            margin: 2px 3px;
                        }
                        span:hover {
                            transform: scale(1.2, 1.2);
                        }
                    }
                }
            }
        }   
    }
}